* *:before *:after {
  box-sizing: border-box;
}

body{
  background-color: white;
  height: 100px;
  margin-top: 10px;
  position: fixed;
  width: 100%;
}

nav {

}


.container {
  background-color: white;

}
