* *:before *:after {
  box-sizing: border-box;
}

body{
  background-color: gray;
  width:360px;
  padding: 100px;
  margin: 0;
  font-family: Roboto;
  font-weight: normal;
  font-size: 16px
}

h1 {
  width: 130px;
  height: 30px;
  top: 30px;
  font-family: Roboto;
  font-style:normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px; /* or 123% */
  text-align: center 5px;
  color: #000000;
}

h2 {
  font-family:Roboto;
  font-weight:bold;
  padding-top: 30px;
  padding-bottom: 10px;
}

h3{
  width: 130px;
  height: 30px;
  top: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: rgba(0, 0, 0, 0.53);
}

h4 {
  font-family:Roboto;
  font-weight:bold;
  font-size: 14px;
}

h5{
  font-family:Roboto;
  font-weight:500px;
  font-size: 14px;

}

section{
  background-color: white;
  width: 360px;
  height: 950px;
/*  padding:5px 100px 5px 100px;
*/}

article.2 {
  width: 360px;
  height: 59px;
}

.blue-location{
  padding-top: 4px;
  padding-left: 2px;
  margin-right: 3px;
}

.bus{
  margin-left: 22px;
}

.button1{
    border: 1px solid gray;
    width: 215px;
    background-color: white;
    font-style: normal;
    padding: 4px;
    font-family: sans-serif;
    font-variant: normal;
}

.button2{
    background-color: #FF9100;
    font-style: normal;
    font-family: sans-serif;
    font-variant: normal;
    font-weight: 100px;
    color: white;
    box-shadow: white;
    width: 104px;
    padding: 6px;
    text-align: center;
    box-shadow: -4px 4px 10px #888888bd;
}

.button3{
  background-color: #2979FF;
  font-style: normal;
  font-family: sans-serif;
  font-variant: normal;
  font-weight: 100px;
  color: white;
  font: white;
  width:104px;
  padding: 6px;
  text-align: center;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/*clearfix (clear float) */
.column {
  float: right;
  display:inline;
  padding:5px;
}

.container{
  background-color: white;
  margin:0;
  padding: 2px;
}

.content{
  background-color: inherit;
}

/*for time in article 3*/
.five{
  padding-top: 8px;
}

.icons{
  padding-top: 30px;
  padding-left: 128px;
  float: right;}

  .images{
    padding-right:3px;
    padding-left: 3.2px;
  }

  .list{
    border-bottom: 1px solid gray;
    width:320px;
    margin-left:20px;
    margin-right:20px;
}

.location{
   border-bottom: 1px solid gray;
   padding:3px;
}

.row {
    display: flex;
}


.schedule{
    border-bottom: 1.5px outset gray;
    width: 360px;
    height: 59px;
}

.shadow{
  box-shadow: 1px 7px 7px #88888875;
  margin-bottom: 12px;
}

/*icons in article.3*/
.start{
  padding-top:8px;
}

.status{
  /* status bar */
  position: absolute;
  width: 360px;
  height: 20px;
  margin-left: 145px;
}

.trail_dots{
  padding-left:67px;
}

/*first row of article.4*/
.title{
  padding-top: 10px;
}

/*where (destination) and when (Frequency)*/
.ww{
  margin-left:24px;
  margin-right:30px;
}

@media (min-width: 600px) {
   .container { width: 80%; }
   }

@media (min-width: 900px) {
  .container { width: 70%;
  }
